@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-grey-100
}

.MuiTypography-body1, .MuiTypography-subtitle1 {
  @apply font-light
}

.twitter-tweet {
  @apply mx-auto
}

iframe {
  max-width: 100%;
  margin: auto;
}

.rich-text a:hover {
  color: blue;
  text-decoration: underline;
}
